# This is a basic workflow to help you get started with Actions

name: Daily Habit - Check Push To GitHub

# Controls when the workflow will run
on:
  schedule:
    - cron: '0 4 * * *'
    # '0 0/4 * * *'  # every 4th hour from 0-23

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  query:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4.7.1
      - name: Get Latest Events
        run: |
          python -c '
          import json
          import urllib.request
          from datetime import datetime
          url = "https://api.github.com/users/yyolk/events"
          headers = {
            "Accept": "application/vnd.github+json",
            "X-GitHub-Api-Version": "2022-11-28",
          }
          request = urllib.request.Request(url, headers=headers)
          response = urllib.request.urlopen(request)
          data = json.load(response)
          events_interested_in_leetcode_dailies_only = list(filter(lambda x: x["type"] == "PushEvent" and "repo" in x and x["repo"]["name"] == "yyolk/leetcode_dailies", data))
          push_events = list(filter(lambda x: x["type"] == "PushEvent", data))
          for event in push_events:
            print(datetime.now() - datetime.strptime(event["created_at"], "%Y-%m-%dT%H:%M:%SZ"))
          '
          
      # # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v3

      # # Runs a single command using the runners shell
      # - name: Run a one-line script
      #   run: echo Hello, world!

      # # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
      #   run: |
      #     echo Add other actions to build,
      #     echo test, and deploy your project.
      
      # - uses: octokit/request-action@v2.x
      #   id: get_latest_events
      #   with:
      #     route: GET /users/{user}/events
      #     owner: yyolk
      #   # This should be unauthenticated
      #   # env:
      #   #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - run: "echo latest events: '${{ steps.get_latest_events.outputs.data }}'"
