# This is a basic workflow to help you get started with Actions

name: Daily Habit - Check Push To GitHub

# Controls when the workflow will run
on:
  schedule:
    - cron: '0 4 * * *'
    # '0 0/4 * * *'  # every 4th hour from 0-23

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  query:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4.7.1
        with:
          python-version: '3.10'
      - name: Get Latest Events
        env:
          taskade_api_pat: ${{ secrets.TASKADE_API_PAT }}
          taskade_reoccurring_project_id: ${{ secrets.TASKADE_REOCCURRING_PROJECT_ID }}
          taskade_reoccurring_push_to_github_task_id: ${{ secrets.TASKADE_REOCCURRING_PUSH_SOMETHING_TO_GITHUB_TASK_ID }}
        run: python -m check_push_to_github


      # # Runs a single command using the runners shell
      # - name: Run a one-line script
      #   run: echo Hello, world!

      # # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
      #   run: |
      #     echo Add other actions to build,
      #     echo test, and deploy your project.
      
      # - uses: octokit/request-action@v2.x
      #   id: get_latest_events
      #   with:
      #     route: GET /users/{user}/events
      #     owner: yyolk
      #   # This should be unauthenticated
      #   # env:
      #   #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - run: "echo latest events: '${{ steps.get_latest_events.outputs.data }}'"
